* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: var(--primary-color);
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
/* img {
  width: 100%;
  height: auto;
  display: block;
} */

:root {
  --primary-color: rgba(7, 13, 35, 1);
  --secondary-color: rgba(34, 44, 79, 1);
  --text-color: rgba(255, 255, 255, 1);
}
