* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: var(--primary-color);
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

:root {
  --primary-color: rgba(7, 13, 35, 1);
  --secondary-color: rgba(34, 44, 79, 1);
  --text-color: rgba(255, 255, 255, 1);
}

.container {
  width: 100%;
  max-width: 430;
  margin: 0 auto;
}

.empty {
  width: 406;
  height: 240;
  padding-bottom: 200px;
  gap: 32px;
}

.logo {
  width: 100%;
  font-weight: 900;
  font-size: 100px;
  line-height: 121.02px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-color);
}
@media (min-width: 1024px) {
  .container {
    width: 920px;
    margin-top: 50px;
  }
  .logo {
    font-family: Inter;
    font-weight: 900;
    font-size: 140px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
