* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.blue {
  background: blue;
  width: 120px;
  padding: 10px;
  color: aliceblue;
  position: relative;
}

.red {
  background: red;
  height: 100px;
  width: 100px;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: 10px;
}
