* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  display: block;
}
.container {
  margin-top: 30px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 5px black;
  padding: 10px;
  background: chocolate;
}
.dice_pic {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.button_results {
  margin-top: 25px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player_result {
  font-size: xx-large;
}

.pc_result {
  font-size: xx-large;
}

.Roll_btn {
  color: aliceblue;
  background: black;
  width: 150px;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
}
.Roll_btn:hover {
  background: rgb(47, 47, 47);
}

.keypad {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: rgb(65, 55, 55);
  color: aliceblue;
}

.keypad td {
  border: 1px solid black;
  cursor: pointer;
}

.keypad td:hover {
  background: rgb(71, 69, 69);
}
