@media screen and (max-width: 400px) {
  .container {
    padding: 25px;
  }
  .back_video {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    object-fit: contain;
    opacity: 1;
  }
  .text_wrapper h2 {
    font-size: 2em;
    font-weight: 400;
    color: #a51212;
    line-height: 1em;
    text-transform: uppercase;
  }
}
