* {
  box-sizing: border-box;

  font-family: "Roboto", serif;
  font-style: normal;
}
:root {
  --background-light: #f9f9f9;
  --background-white: #ffffff;
  --text-dark: #333333;
  --text-light: #8e8e93;
  --accent-color: #4a90e2;
}
body {
  margin: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--text-dark);
  transition: color 0.2s ease;
}
a:hover {
  color: var(--accent-color);
}

.container {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background: var(--background-light);
  color: var(--text-dark);
}

.title {
  font-weight: 800;
  margin: 0 0 10px 0;
}
.head_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_icon {
  width: 20px;
}
.search {
  position: relative;
  margin: 0 0 15px 0;
}

.search input {
  width: 100%;
  padding: 10px 40px 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.3 ease;
  margin-bottom: 15px;
}

.search input:focus {
  border-color: #007aff;
  box-shadow: 0 0 10px rgb(0, 122, 255, 0.5);
}

.search input::placeholder {
  color: #aaa;
  transition: all 0.3 ease;
}

.search .search_icon {
  position: absolute;
  left: 15px;
  top: 40px;
  color: #aaa;
  font-size: 29px;
  pointer-events: none;
  transform: scaleX(-1);
}

.search input:focus + .search_icon {
  display: none;
}

.search input:focus::placeholder {
  color: transparent;
}
.my-card {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0 0 50px 0;
}
.user-name {
  margin: 0;
}
.user-title {
  font-size: smaller;
  color: var(--text-light);
  margin: 0;
}
.profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_list {
  list-style: none;
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0;
}

.add_btn {
  padding: 2px 20px;
  background: whitesmoke;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.add_btn:hover {
  background: darkcyan;
  border-color: #32cd32;
}

.add_btn:focus {
  background: rgb(0, 79, 79);
  outline: none;
}
