@media (min-width: 641px) {
  .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    transition: 0.5s;
    z-index: 2;
  }

  .back_video {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    object-fit: contain;
    opacity: 0.8;
  }

  .text_wrapper {
    position: relative;
    z-index: 10;
  }

  .text_wrapper h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }
  .text_wrapper h3 {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }
  .result_p {
    display: none;
  }

  .text_wrapper p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
  }
  .text_wrapper button {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 100px;
  }
  .text_wrapper button:hover {
    transform: scale(1.1);
    background: #fdae37;
    cursor: pointer;
  }
}
