* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.wrapper {
  display: flex;
}

.left {
  height: 100vh;
  width: 50%;
  background: rgba(248, 248, 248, 1);
  position: relative;
}

.left .container {
  width: 350px;
  border: solid 1px black;
  position: absolute;
  top: 129px;
  right: 50px;
}

.right {
  height: 100vh;
  width: 50%;
  position: relative;
}
.right .container {
  width: 350px;
  border: solid 1px black;
  position: absolute;
  top: 240px;
  left: 50px;
}
